#current {
    border-style: solid;
    padding: 10px 17px 10px 17px;
}

.navitem {
    border-color: #fff;
    border-radius: 25px;
    border-width: 3px;
    color: #fff;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
    margin: 0 5px;
    padding: 13px 20px 10px 20px;
    text-align: center;
    height: 100%;
    width: 130px;
}

.navitem:hover {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

#navbar {
    height: 50px;
    margin: 0 auto;
    text-align: center;
    width: 560px;
}
